/*style.css */
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image:radial-gradient(#090fb3, #0bd2e0, green);
  color: #222;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.title {
  color: #222;
  font-size: 1.5rem;
  text-align: center;
}
.temperature-converter {
  background: #ebfb6f;
  border: solid black;
  font-family: 'Phudu', cursive;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 25px 20px;
  min-width: 320px;
  width: 100%;
  height: auto;
}
.result {
  text-align: center;
  margin: 20px 0;
}
.result-heading {
  color: #555;
  font-size: 1rem;
  font-weight: 600;
}
.celsius-value {
  border-bottom: 2px solid #833a3a;
  padding: 10px;
}
label {
  color: #555;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
input,
select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #843939;
  padding: 8px;
  margin-bottom: 15px;
}
input:focus {
  border: 1px solid #0a0a0a;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.degree-field {
  display: flex;
  flex-direction: column;
  width: 46%;
}
option {
  background-color: #0d0d0d;
  color: #f6f6f6;
}
#convert-btn {
  background: linear-gradient(to bottom, #d72809, #120fb9);
  border: solid black;
  font-family: 'Phudu', cursive;
  outline: none;
  border-radius: 5px;
  color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 12px 80px;
  transition: all 0.3s ease-in;
}
#convert-btn:hover {
  background: linear-gradient(to bottom, #f50a0a, #f4d301);
}